.line-chart-container {
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 5.416vw;
    justify-content: left;

    .line-chart-controls {
        //border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.967vw;
        padding-left: 1.927vw;
        //font-size: 0.9375 !important;
    }

    .line-chart-wrapper {
        //border: 1px solid orange;
        display: flex;
        flex-direction: column;
        // width: 61.458vw;
        // margin-left: 10.415vw;
        box-shadow: 1px 5px 12px 6px #DBDBDB;
        padding-top: 1.25vw;
        padding-left: 0.683vw;
        padding-right: 0.752vw;
        padding-bottom: 1.25vw;
    }
}
