.transfer-container{
    display: flex;
    //border: solid 1px black;
    flex-direction: column;
    min-width: 100%;
    margin-top: 5.416vw;
    margin-bottom: 5.416vw;

    .transfer-form-wrapper{
        // width: 61.458vw;
        display: flex;
        // margin-top: 4.476vw;
        // margin-left: 10.415vw;
        padding-top: 2.760vw;
        padding-right: 22.240vw;
        padding-bottom: 1.823vw;
        padding-left: 22.240vw;
        box-shadow: 1px 5px 12px 6px #DBDBDB;
        border-radius: 15px;
        //border: solid 1px black;

        .form{
            margin-left: auto;
            margin-right: auto;
            width: 17.022vw;

            .Trans-form-control {
                margin-bottom: 2.031vw;
            }

            .transfer-btn {
                width: 10.208vw;
            }
        }

    }

    .form-control {
        box-shadow: 0px 12px 6px #DBDBDB;
        margin-bottom: 35px;
    }

    .transfer-btn{
        // width: 6vw;
        // border-radius: 40px !important;
        background: #4D96CC 0% 0% no-repeat padding-box;
        border-radius: 30px;
        opacity: 1;
    }
}
