.doughnut-container {
    display: flex;
    // position: absolute;
    // width: 100% !important;
    width:100% !important;
    // padding: -20px;
    height:100% !important;
    margin-top: 0.5vw;
    // border: 1px solid black;


    .doughnut-wrapper {
        display: flex;
        // width: 31.25vw;
        // height: 20.820vw;
        //border: 1px solid orange;
    }
}
