.doughnut-container {
    display: flex;
    flex-direction: column;

    .doughnut-wrapper {
        display: flex;
        flex-direction: column;
        // width: 61.458vw;
        // margin-left: 10.415vw;
        
    }
}
