.doughnut-container {
    display: flex;
    // border: 1px solid black;


    .doughnut-wrapper {
        display: flex;
        width: 31.25vw;
        height: 20.820vw;
        //border: 1px solid orange;
    }
}
