.dashboard-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-family: 'Lato';

    .content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
        //width: -webkit-fill-available;

        .overview-container{
            display: flex;
            flex-direction: row;
            justify-content: left;

            .overview-table{
                //border: 1px solid red;
                margin-left:7.758vw;
                margin-top: 3.156vw;
                margin-right: 3.414vw;
            }

            .table-container{
                border: 1px solid green;
            }

            .overview-graph {
                //border: 1px solid blue;
                width: 29.241vw;
                margin-top: 2.221vw;
            }
        }

       
    }
}

.footer-container{
    // margin-top: 7.142vw;
    min-height: 8vh;
    background-color: #373737;
}

.side-margin{
     padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.no-margin{
    margin:0px !important;
}