.signup-container {
    margin-left: 21.667%;
    margin-right: 21.667%;
    margin-top: 8.281%;
    padding-left: 13.542%;
    padding-right: 13.542%;
    padding-top: 7.240%;
    padding-bottom: 8.490%;
    background-color: #ffffff;
    font-family: 'Lato';
    font-size: 1.5rem, !important;
    border-radius: 10px !important;
}

.signup-form-control {
  box-shadow: 0px 12px 6px #DBDBDB;
  margin-bottom: 6.162%;
}

.signup-btn{
  margin-top: 1.761%;
  width: 8.854vw;
  border-radius: 40px !important;
  background-color: #4d96cc !important;
}