.main-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-family: 'Lato';
    min-height: 100%;
    margin: auto;

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
   

    .content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
        // margin-left: 0px;
        // margin-right: 0px;
        max-width: 100%;

        .page-content{
            margin-top: 50px;
            height: 100%;
            padding: 50px 10%;
        }

        // min-height: 500px;
        //width: -webkit-fill-available;

     
    }

    .footer-container {
        // display: flex;
        // position: fixed;
        // bottom: 0;
        // right: 0;
        // width: 100%;
        min-height: 8vh;
        background-color: #373737;

    
    }
}

.auto-height{
    height: auto;
}